* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1px 400px;
}

/* LOGIN PAGE */

.logo {
  width: 50px;
  height: 50px;
}

.mainLogo {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  margin: 20px 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.login {
  text-align: center;
  color: #fff;
  padding: 150px 70px;
  background: linear-gradient(to bottom, #09e82e, #0134c2);
  padding-bottom: 175px;
}

.pinInput {
  width: 40px;
  height: 40px;
  margin: 0 5px;
  border-radius: 10px;
  border: 1px solid #fff;
  font-size: 20px;
  text-align: center;
  background-color: inherit;
  color: #fff;
}

.pinInput:focus {
  outline: none;
}

.pin {
  margin: 25px 0;
}

.welcome {
  font-size: 21px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.enter {
  font-size: 14px;
  margin: 10px 0;
  color: azure;
}

.switch {
  color: #09e82e;
}

.forgot {
  margin: 20px 0;
  color: #09e82e;
}

/* DASHBOARD */
.dashboard {
  background: linear-gradient(to left, #09e82e, #0134c2);
  /* padding: 30px 30px; */
  padding-top: 70px;
  padding-bottom: 50px;
}

.andre {
  width: 40px;
  height: 40px;
  border-radius: 100%;
}

.dash-top {
  display: flex;
  align-items: center;
  gap: 200px;
  margin: 0 20px;
}

.dashtop1 {
  display: flex;
  align-items: center;
  gap: 5px;
  color: #fff;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.well {
  font-size: 11px;
  color: rgb(180, 199, 199);
}

.alert {
  width: 30px;
  height: 30px;
}

.over-balance {
  background-color: #fff;
  margin: 30px 20px;

  border-radius: 10px;
  padding: 20px;
}
.tot-tra {
  display: flex;
  font-size: 11px;
  justify-content: space-between;
}
.stars {
  display: flex;
  justify-content: space-between;
}

.out-bal {
  display: flex;
  align-items: center;
  gap: 20px;
  border: 1px solid rgb(226, 143, 143);
  border-radius: 10px;
  padding: 5px 12px;
  font-size: 12px;
}

.money {
  margin: 15px 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: #0134c2;
}

.arrow {
  background-color: rgb(226, 143, 143);
  padding: 1px 3px;
  color: #fff;
}

.star1 {
  padding: 5px;
  background-color: rgb(241, 241, 248);
  border-radius: 10px;
  padding-right: 60px;
  font-size: 12px;
}

.history {
  color: blue;
  border-bottom: 1px solid blue;
  cursor: pointer;
}

.features-img {
  width: 30px;
  height: 30px;
}

.features-text {
  font-size: 10px;
}

.features {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 10px 30px;
  background-color: #fff;
  justify-content: space-between;
  border-radius: 10px;
  margin: 0 20px;
}

.features-unique {
  text-align: center;
  margin: 20px 0;
}

.bottom1 {
  width: 50px;
  height: 80px;
}

.bottom2 {
  width: 250px;
  height: 80px;
  margin: 0 10px;
}

.bottom3 {
  width: 50px;
  height: 80px;
}

.bottom-img {
  margin: 30px 0;
}

.invite {
  display: flex;
  background-color: white;
  margin: 20px 20px;
  border-radius: 10px;
  padding: 15px;
  gap: 10px;
  align-items: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.invite-img {
  width: 30px;
  height: 30px;
}

.earn {
  font-size: 10px;
}

.tree2 {
  font-size: 14px;
}

.nav {
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 40px;
  position: fixed;
  bottom: 0;
  width: 29%;
}

.navImg {
  width: 20px;
  height: 20px;
}

.nav-p {
  font-size: 10px;
}

.nav-items {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  text-decoration: none;
}

/* Transaction History */

.txn {
  background-color: #fff;
  padding: 60px 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding-bottom: 120px;
}

.txn-arrow {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  width: 13px;
  height: 13px;
}

.txn-nav {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 90px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.txn-search {
  display: grid;
  grid-template-columns: 1fr 8fr;
  margin: 40px 0;
  align-items: center;
}

.search-img {
  width: 27px;
  height: 27px;
  background-color: rgb(219, 219, 240);
  padding: 5px;
  border-radius: 5px;
}

.search-input {
  padding: 7px 15px;
  border: none;
  background-color: rgb(219, 219, 240);
  border-radius: 5px;
}

.search-input::placeholder {
  font-size: 10px;
}

.search-input:focus {
  outline: none;
}

.txnEach {
  display: grid;
  grid-template-columns: 2fr 2fr 1fr;
  align-items: center;
  justify-content: space-between;
  font-size: 11px;
  margin: 5px 0;
  padding: 7px 0;
  border-bottom: 1px solid rgb(228, 225, 225);
}

.red {
  border-bottom: 2px solid red;
}

.yel {
  border-bottom: 2px solid yellow;
}

.grn {
  border-bottom: 2px solid greenyellow;
}

/* REWARDS */
.rewards {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 20px 30px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  padding-bottom: 65px;
}

.reward-nav {
  display: flex;
  align-items: center;
  gap: 120px;
}

.reward-arrow {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  width: 13px;
  height: 13px;
}

.question {
  background-color: #0134c2;
  color: #fff;
  font-size: 14px;
  padding: 2px 5px;
  border-radius: 100%;
}

.rew {
  color: grey;
}

.rewards-andre {
  width: 100px;
  height: 100px;
  border-radius: 100%;
  margin-right: 30px;
}

.champ {
  width: 40px;
  height: 40px;
  position: relative;

  transform: skew(-20deg) rotate(20deg);
  -webkit-transform: skew(-20deg) rotate(20deg);
  -moz-transform: skew(-20deg) rotate(20deg);
  overflow: hidden;
  left: 40px;
}

.badge {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 70px 0;
}

.badge-unlock {
  font-size: 11px;
}

.chan {
  margin-bottom: 10px;
}

.example-badge {
  width: 50px;
  height: 50px;
}

.badge-text {
  font-size: 9px;
}

.badges {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 20px;
}

.groupImg {
  width: 30px;
  height: 30px;
  border-radius: 100%;
  position: absolute;
}

.groupImg:nth-child(2) {
  margin: 0 15px;
}

.groupImg:nth-child(1) {
  margin: 0 30px;
}

.groupImgs {
  position: relative;
  margin-bottom: 30px;
}

.support {
  background-color: #0134c2;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  padding: 90px 50px;
  padding-left: 15px;
  padding-bottom: 103px;
}

.group-nav {
  display: flex;
  align-items: center;
  gap: 160px;
}

.treek {
  font-size: 12px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: rgb(249, 253, 253);
  font-weight: 100;
}

.hello {
  margin-top: 40px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.held {
  color: #fff;
  font-size: 20px;
}

.how {
  color: #09e82e;
}

.supportImg {
  width: 15px;
  height: 15px;
}

.message-p {
  font-size: 12px;
}

.intel {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 10px 20px;
  background-color: #fff;
  border-radius: 10px;
  width: 340px;
}

.heme {
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  width: 340px;
}

.mess {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid black;
  padding-bottom: 5px;
  margin-bottom: 8px;
}

.help {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.quest {
  background-color: #0134c2;
  color: #fff;
  font-size: 10px;
  padding: 2px 5px;
  border-radius: 100%;
}

.overmess {
  display: flex;
  flex-direction: column;
  margin: 15px 0;
  gap: 10px;

  width: 300px;
}

/* in-app chat */
/* App.css */
.chat-app {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.chat-container {
  /* border: 1px solid #ccc; */
  padding: 10px;
  height: 450px;
  overflow-y: auto;
  margin-bottom: 10px;
}

.chat-container::-webkit-scrollbar {
  display: none;
}

.chat-message {
  margin-bottom: 10px;
  background-color: #0134c2;
  color: #fff;
  width: 180px;
  padding: 10px;
  border-radius: 10px;
  float: right;
}

.input-container {
  display: flex;
}

.input-container input {
  flex: 1;
  margin-right: 10px;
}

.chat-arrow {
  width: 12px;
  height: 12px;
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

.chat-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 110px;
  margin: 40px 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.chat-btn {
  padding: 10px;
  border-radius: 8px;
  border: none;
  background-color: #0134c2;
  color: #fff;
  cursor: pointer;
}

.chat-input {
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #0134c2;
}

.chat-input::placeholder {
  color: #abbdec;
}

.chat-input:focus {
  outline: none;
}
